<input type="hidden" id="hdnURL_EliminarCitaModal" value="@Url.Action("_EliminarCita","Horario")" />
<input type="hidden" id="hdnURL_CrearCita" value="@Url.Action("_GuardarCita","Horario")" />
<input type="hidden" id="hdnURL_ActualizarCitaConCorreo" value="@Url.Action("ActualizarCitaConCorreo","Horario")" />

<div class="modal fade" id="modalEventoNuevo" tabindex="-1" aria-labelledby="modalEventoNuevoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal">
            <div class="modal-header">
                <input type="hidden" value="" id="fechaModal" />
                <center><strong><h5 class="modal-title" id="modalEventoNuevoLabel"></h5></strong></center>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p><strong>Hora de Inicio</strong> <input class="form-control" type="time" id="horaInicioCitaNuevo" disabled/></p>
                <p><strong>Hora Término</strong> <input class="form-control" type="time" id="horaTerminoCitaNuevo" /></p>
                <p><strong>Nombre y apellido</strong> <input class="form-control" id="nombreCitaNuevo" /></p>
                <p><strong>Correo</strong> <input class="form-control" id="correoCitaNuevo" /></p>
                <p><strong>Telefono</strong> <input class="form-control" id="telefonoCitaNuevo" /></p>
                <p><strong>Nota</strong> <input class="form-control" id="notaCitaNuevo" /></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-blue" id="btnGuardarCitaModal" onclick="ModuloHorarioCita.GuardarCitaModal()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalEvento" tabindex="-1" aria-labelledby="modalEventoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal">
            <div class="modal-header">
                <center><strong><h5 class="modal-title" id="modalEventoLabel"></h5></strong></center>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                <input type="hidden" value="" id="idCitaModal" />
            </div>
            <div class="modal-body">
                <p><strong>Fecha</strong> <input class="form-control" type="date" id="fechaCita" disabled/></p>
                <p><strong>Hora de Inicio</strong> <input class="form-control" type="time" id="horaInicioCita" disabled/></p>
                <p><strong>Hora Término</strong> <input class="form-control" type="time" id="horaTerminoCita" disabled /></p>
                <p><strong>Nombre y apellido</strong> <input class="form-control" id="nombreCita" disabled /></p>
                <p><strong>Correo</strong> <input class="form-control" id="correoCita" disabled /></p>
                <p><strong>Telefono</strong> <input class="form-control" id="telefonoCita" disabled /></p>
                <p><strong>Nota</strong> <input class="form-control" id="notaCita" disabled /></p>
            </div>
            <div class="modal-footer">
                @if (ViewBag.IdPerfilUsuario == (int)Fimel.Models.Enums.EnumPerfiles.Especialista)
                {
                    <button class="btn btn-success" id="btnIniciarCitaModal" onclick="ModuloHorarioCita.IniciarCitaModal()">Iniciar Cita</button>
                }
                <button class="btn btn-warning" id="btnModificarCitaModal" onclick="ModuloHorarioCita.ModificarCitaModal()">Modificar</button>
                <button class="btn btn-primary" id="btnGuardarModificacionCita" onclick="ModuloHorarioCita.GuardarModificacionCita()" style="display: none;">Guardar Cambios</button>
                <button class="btn btn-secondary" id="btnCancelarModificacion" onclick="ModuloHorarioCita.CancelarModificacion()" style="display: none;">Cancelar</button>
                <button class="btn btn-danger" id="btnEliminarCitaModal" onclick="ModuloHorarioCita.EliminarCitaModal()">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para ingresar RUT al iniciar cita -->
<div class="modal fade" id="modalIniciarCita" tabindex="-1" aria-labelledby="modalIniciarCitaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal">
            <div class="modal-header">
                <center><strong><h5 class="modal-title" id="modalIniciarCitaLabel">Iniciar Cita</h5></strong></center>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p><strong>Ingrese los datos del paciente</strong></p>
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-label">Tipo de Documento</label>
                        <select class="form-select" id="comboTipoDocumentoIniciarCita">
                            <option value="RUT" selected="selected">RUT</option>
                            <option value="Pasaporte">Pasaporte</option>
                            <option value="DNIExtranjero">DNI Extranjero</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <label class="form-label">Número de Documento</label>
                        <input class="form-control" type="text" id="inputRutIniciarCita" placeholder="Ej. 12.325.369-9" maxlength="12" />
                        <input class="form-control" type="text" id="inputNumDocumentoIniciarCita" placeholder="N° Documento" style="display:none" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-success" id="btnValidarRutIniciarCita" onclick="ModuloHorarioCita.ValidarRutIniciarCita()">Validar</button>
            </div>
        </div>
    </div>
</div>