<div id="accordionFicha-historial" class="accordion-collapse collapse" aria-labelledby="accordionFicha-historial-head">
	<div class="accordion-body">
		<div class="col-md-12 bg-fimel-lightblue p-4" id="ListConsultasAnteriores">
		</div>
	</div>
</div>