@model List<HorarioAtencion>


<div class="modal fade" id="configurarHorarioModal" tabindex="-1" aria-labelledby="configurarHorarioModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="configurarHorarioModalLabel">Configurar Bloque Horario</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<label for="diaSemana" class="form-label">Día de la Semana</label>
					<select class="form-select" id="diaSemanaNuevoBloque">
						<option value="">Seleccione Día...</option>
						<option value="Lunes">Lunes</option>
						<option value="Martes">Martes</option>
						<option value="Miércoles">Miércoles</option>
						<option value="Jueves">Jueves</option>
						<option value="Viernes">Viernes</option>
						<option value="Sábado">Sábado</option>
						<option value="Domingo">Domingo</option>
					</select>
				</div>

				<div class="mb-3">
					<label for="horaInicio" class="form-label">Hora de Inicio</label>
					<input type="time" class="form-control" id="horaInicioNuevoBloque" required step="1800" />
				</div>

				<div class="mb-3">
					<label for="horaFin" class="form-label">Hora de Fin</label>
					<input type="time" class="form-control" id="horaFinNuevoBloque" required />
				</div>

				<div class="mb-3">
					<label for="comentario" class="form-label">Comentario</label>
					<textarea class="form-control" id="comentarioNuevoBloque" rows="3"></textarea>
				</div>

				<h5>Bloques Horarios Existentes</h5>
				<table class="table">
					<thead>
						<tr>
							<th>Día</th>
							<th>Hora Inicio</th>
							<th>Hora Fin</th>
							<th>Comentario</th>
						</tr>
					</thead>
					<tbody id="tablaBloquesExistentes">
						@foreach (var horario in Model)
						{
							<tr>
								<td>@horario.DiaSemana</td>
								<td>@horario.HoraInicio.ToString(@"hh\:mm")</td>
								<td>@horario.HoraFin.ToString(@"hh\:mm")</td>
								<td>@horario.Comentario</td>
							</tr>
						}
					</tbody>
				</table>

				<button class="btn btn-blue" id="btnGuardarBloque" onclick="ModuloHorarioCita.GuardarNuevoBloque()">Guardar</button>
			</div>
		</div>
	</div>
</div>