@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<link href="~/css/Error.css" rel="stylesheet" />
<body class="bg-login">
<div class="login_container">
    <div class="center-text">
        <a href="https://www.fimel.cl"><img src="~/img/logo1.svg" width="370" height="200" /></a>
        <div class="clearfix"></div>
        <h1>Ha ocurrido un problema al procesar la solicitud!</h1>
        <h3>Estamos solucionando el problema lo más rápido posible...</h3>
    </div>
</div>
</body>