* {
  padding: 0;
  margin: 0;
}

body {
  color: #555555;
  background-color: #F5F7FB;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body::after {
  content: '';
  background-image: url(../img/bg-v2.svg);
  width: 100%;
  height: 400px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
}

h1,
h2,
h3,
h4,
li {
  font-family: 'Signika Negative', sans-serif;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 0;
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: #FAFAFA;
  -webkit-border-radius: 0;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #eaeaea;
  -webkit-border-radius: 8px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: #999;
  -webkit-border-radius: 8px;
}

/*BG*/
.bg-lightgray {
  background-color: #f6f6f6;
}

.bg-grey {
  background-color: #eeeeee;
}

.bg-fimel-blue {
  background-color: #0E96CC;
}

.bg-fimel-rosa {
  background-color: #F89B9B;
}

.bg-fimel-lightblue {
  background-color: #F2FAFD;
}

/*COLORS*/
.colorfimel-blue {
  color: #0E96CC;
}

.colorfimel-rosa {
  color: #F89B9B;
}

.colorfimel-lightblue {
  color: #F2FAFD;
}

/*BOTONES*/
.btn {
  padding: 5px 20px;
  border-radius: 30px;
}

.btn-blue {
  background-color: #75BDE0;
  color: #fff;
}

.btn-blue:hover {
  background-color: #0a5c7c;
  color: #fff;
}

.btn-pink {
  background-color: #F89B9B;
  color: #fff;
}

.btn-pink:hover {
  background-color: #d07c7c;
  color: #fff;
}

.btn-ico {
  color: #75BDE0;
  font-size: 18px;
}

.btn-receta {
  border: 1px solid #0E96CC;
  color: #0E96CC;
  border-radius: 30px;
  padding: 5px 10px;
  text-align: center;
  background-color: #fff;
  float: right;
  font-size: 12px;
}

.btn-receta:hover {
  background-color: #0E96CC;
  color: #fff;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

.btn-radio {
  background-color: #fff;
  border: 1px solid #ced4da;
  padding: 5px 10px;
  border-radius: 3px;
}
.btn-check:active+.btn-radio, .btn-check:checked+.btn-radio, .btn-radio.active, .btn-radio:active, .show>.btn-radio.dropdown-toggle {
  color: #fff;
  background-color: #F89B9B;
  border-color: #de8a8a;
}
.border-right-pink {
  border-right: 1px solid #d07c7c;
}

/*BOTON TOGGLE*/
.div-switch .btn-toggle {
  top: 50%;
  /*transform: translateY(-50%);*/
}

.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #666666;
}

.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}

.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}

.btn-toggle:before {
  content: "No";
  left: -4rem;
}

.btn-toggle:after {
  content: "Si";
  right: -4rem;
  opacity: 0.5;
}

.btn-toggle>.handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #f89b9b;
  transition: left 0.25s;
}

.btn-toggle.active {
  transition: background-color 0.25s;
}

.btn-toggle.active>.handle {
  left: 1.6875rem;
  transition: left 0.25s;
}

.btn-toggle.active:before {
  opacity: 0.5;
}

.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}

.btn-toggle.active {
  background-color: rgb(192 118 118);
}

/**/
.f-14{
  font-size: 14px;
}
.mt-1-8 {
  margin-top: 1.8rem!important;
}
/*LOGIN*/
.bg-login {

  height: 100vh;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(252, 119, 121, 1) 50%, rgba(248, 187, 155, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(252, 119, 121, 1)), color-stop(100%, rgba(248, 187, 155, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(252, 119, 121, 1) 50%, rgba(248, 187, 155, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(252, 119, 121, 1) 50%, rgba(248, 187, 155, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(252, 119, 121, 1) 50%, rgba(248, 187, 155, 1) 100%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(252, 119, 121, 1) 50%, rgba(248, 187, 155, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8bb9b', GradientType=1);

}

.bg-login::after {
  background-image: none;
}

.div-login {
  width: 70%;
  margin: 28% auto 0;
  border-radius: 10px;
  padding: 24px;
  border-radius: 10px;
}

.div-logo {
  text-align: center;
}

.div-logo img {
  width: 67%;
}
.icon-input {
  position: absolute;
  top: 37%;
  right: 5%;
  color: #0e96cc;
}
.icon-input-ficha {
  position: absolute;
  top: 61%;
  right: 5%;
  color: #0e96cc;
}
.form-floating input{
  padding-right: 40px !important;
}
/*MENU LATERAL*/
.sidebar {
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.15) !important;
  z-index: 9;
  position: sticky;
  top: 0;
  right: 0;
  width: 220px;
  min-height: 100%;
  height: 100vh;
}

.sidebar-brand {
  margin: 10px 0;
  display: block;
}

.sidebar-brand img {
  width: 55%;
}

.div-usuario {
  background-color: #F2FAFD;
  padding: 10px;
  overflow: hidden;
}

.info-user {
  text-align: left;
}

.info-user p {
  width: 84%;
  float: left;
  margin-right: 8px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 13px;
}

.dm-user {
  width: 100%;
  text-align: center;
}
.dm-user a{
  padding: 10px !important;
  margin: 0 !important;
}
/**/
.main-wlateral {
  display: flex;
  padding: 0;
}

.sidebar li {
  text-align: center;
}

.sidebar li a {
  color: #707070;
  padding: 10px 15px;
  margin: 0 5px 5px 5px;
}

.sidebar li a:hover {
  color: #0E96CC;
  background-color: #F2FAFD;
  border-radius: 30px;
}

.sidebar li a.active {
  color: #0E96CC;
  font-weight: 600;
  background-color: #F2FAFD;
  border-radius: 30px;
}

.footer-sidebar {
  position: absolute;
  padding: 20px 10px;
  bottom: 0;
  width: 100%;
  background-color: #0E96CC;
}

.footer-sidebar p {
  color: #fff;
  font-size: 12px;
  margin: 0;
}

main {
  padding: 0;
  display: flex;
  flex-direction: row;
}

/*TABLE*/
/**/
.thead-rosa {
  background-color: #F89B9B;
  border-radius: 5px;
  color: #fff;
}

.table thead tr {
  border: none;
  text-align: center;
}

.table thead th {
  vertical-align: middle;
  border-color: transparent;
  line-height: 15px;
  border-style: none;
  border-width: 0;
  font-size: 13px;
  padding: 15px 10px;
}

.table tr {
  text-align: center;
  border: 5px solid #f4f6fa;
  border-left: 0;
  border-right: 0;
}

.table tbody td {
  background-color: #fff;
  font-size: 14px;
}

.table tbody td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table tbody td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table thead th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.table thead th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search {
  width: 100% !important;
}

/*Modal*/
.modal-header {
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/**/
.container-9 {
  width: 90%;
  padding: 15px;
}

/**/
.acc-home {
  background: rgba(248, 155, 155, 1);
  background: -moz-linear-gradient(-45deg, rgba(248, 155, 155, 1) 0%, rgba(248, 187, 155, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248, 155, 155, 1)), color-stop(100%, rgba(248, 187, 155, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(248, 155, 155, 1) 0%, rgba(248, 187, 155, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(248, 155, 155, 1) 0%, rgba(248, 187, 155, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(248, 155, 155, 1) 0%, rgba(248, 187, 155, 1) 100%);
  background: linear-gradient(135deg, rgba(248, 155, 155, 1) 0%, rgba(248, 187, 155, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f89b9b', endColorstr='#f8bb9b', GradientType=1);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.acc-home a {
  margin: 0;
  padding: 20px 25px;
  display: block;
  color: #fff !important;
  text-decoration: none;
  font-family: 'Signika Negative', sans-serif;
}
.acc-home:hover{
  background: #F89B9B;
}
.accordion-item {
  border: none;
  margin-bottom: 10px;
}

.accordion-button:not(.collapsed),
.accordion-button {
  color: #F89B9B;
  background-color: #fff;
  box-shadow: none;
  font-size: 20px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/arrow-pink.svg);
}

.accordion-button::after {
  background-image: url(../img/arrow-pink.svg);
}

.div-buscar {
  width: 100%;
  position: relative;
  padding: 20px;
  background-color: #fff;
  margin-left: 1px;
  border-left: 4px solid #0e96cc;
  overflow: hidden;
}

.div-buscar:after {
  content: '';
  background-image: url(../img/icon1.svg);
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: -16px;
  opacity: 0.6;
  transform: rotateZ(29deg);
}

.ico-verConsulta:after {
  content: '';
  background-image: url(../img/ico-ficha.svg);
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: -16px;
  opacity: 0.3;
  transform: rotateZ(29deg);
}

.ico-adduser:after {
  content: '';
  background-image: url(../img/ico-adduser.svg);
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: -16px;
  opacity: 0.3;
  transform: rotateZ(29deg);
}

.ico-agcita:after {
  content: '';
  background-image: url(../img/icon-calendario.svg);
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: -16px;
  opacity: 0.3;
  transform: rotateZ(29deg);
}
.file-upload-label{
  font-size: 14px !important;
    padding: 10px 15px !important;
    border-radius: 10px;
    border: 1px solid #75BDE0;
    color: #75BDE0;
    width: 100%;
    text-align: center;
}
.file-upload-label:hover{
  background-color:#75BDE0;
    color: #fff;
}

#calendar {
    max-width: 2000px;
    height: 800px;
    font-size: 14px; 
    margin: 0 auto; 
}

.fc-toolbar-title {
    text-transform: capitalize !important; 
}

.fc-button {
    background-color: #F89B9B !important;
    color: white !important;
    border: none !important;
    font-weight: bold;
}

.fc-button-active {
    background-color: #D87B7B !important;
}

.fc-daygrid-day-number {
    color: #75BDE0 !important;
}

.fc-event {
    background-color: #75BDE0 !important;
    color: white !important;
    border: none !important;
}

.fc-event-time {
    color: white !important;
    font-weight: bold;
}

.fc-event-title {
    color: white !important;
    font-weight: normal;
}

.fc-col-header-cell-cushion {
    color: #75BDE0 !important;
    font-weight: bold !important;
}

.fc-daygrid-day-number {
    color: #75BDE0 !important;
}

.fc-timegrid-col {
    color: #75BDE0 !important;
    font-weight: bold !important;
}

.fc-daygrid-day-top {
    color: #75BDE0 !important;
    font-weight: bold !important;
}

.fc-toolbar-title {
    color: #75BDE0 !important;
}

.fc-col-header-cell-cushion,
.fc-daygrid-day-number {
    text-decoration: none !important;
}

.fc-col-header-cell-cushion {
    text-transform: capitalize !important;
}

.fc-daygrid-day-number {
    text-transform: capitalize !important;
}

.div-flotante-centro {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 12px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}