
<!-- contenido central -->
<div id="content-wrapper" class="container-9">
	<!--TITULO-->
	<div class="row">
		<div class="col-12">
			<div class="container">
				<div class="row">
				@* 	<div class="col-md-4">
						<div class="acc-home ico-agcita">
							<a href="#">Agenda una cita</a>
						</div>
					</div> *@
					<div class="col-md-4">
						<div class="acc-home ico-adduser">
							<a href="@Url.Action("FichaPaciente", "Pacientes")">Nuevo paciente</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="acc-home ico-verConsulta">
							<a href="@Url.Action("HistorialConsultas", "Consulta")">Ver consultas anteriores</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--TITULO-->
	<!--TABLA-->
	<div class="row mt-3">
		<div class="col-12 col-md-12 mt-3">
			<div class="container table-basic">
			</div>
		</div>

	</div>
	<!--TABLA-->
</div>